<style>
.customLink:link{
  background-color: none;
  color: black;
}
.customLink:hover, customLink:active {
  text-decoration: underline;
  background: none;
  color: gray;
}


</style>
<center>
<h4>Editar</h4>
<%= render 'form', objective: @objective %>
<br>
<%= link_to 'Show', @objective, class:"customLink"%> |
<%= link_to 'Back', objectives_path, class:"customLink" %>
</center>