<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de Grupo:</strong>
  <%= @group_type.name %>
</p>

<%= link_to 'Edit', edit_group_type_path(@group_type) %> |
<%= link_to 'Back', group_types_path %>
